@import "./normalize/button.scss";
@import "./normalize/variable.scss";
.header {
  padding-top: 1.25rem;
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    &__left {
      display: flex;
      align-items: center;
      .header-link {
        margin-right: 3.75rem;
        img {
        }
      }
      .header-list {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        &__item {
          .nav__link {
            font-weight: 700;
            color: $mainColor;
          }
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 36px;
    }
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 189px;
    &__left {
      .play-btn {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .circle {
          width: 84px;
          height: 84px;
          background: $btn;
          opacity: 0.1;
          border-radius: 50%;
        }
        .lil-circle {
          position: absolute;
          top: 15px;
          left: 15px;
          background: $btn;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          z-index: 99;
          .triangle {
            border: 10px solid transparent;
            border-left: 10px solid white;
            border-radius: 4px;
            position: absolute;
            top: 15px;
            left: 22px;
          }
        }
        span {
          font-family: "Lato";
          font-weight: 900;
          font-size: 14px;
          color: $secondColor;
        }
      }
      max-width: 496px;
      width: 100%;
      .main-content__btns {
        display: flex;
        gap: 24px;
        .empty-btn {
          color: #ff3f3a;
          padding: 1.25rem 2.5rem;
          border-radius: 4px;
          background: none;
          border: 1px solid;
        }
      }
    }
    h1 {
      font-family: "Lato";
      font-weight: 900;
      font-size: 64px;
      letter-spacing: 1px;
      color: $secondColor;
      margin-bottom: 60px;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__items {
      display: flex;
      align-items: center;
      gap: 12px;
      h2 {
        font-family: "Lato";
        font-weight: 900;
        font-size: 46px;
        color: $secondColor;
      }
      span {
        font-family: "Lato";
        font-weight: 400;
        font-size: 16px;
        color: $secondColor;
      }
    }
    &__circle {
      width: 8px;
      height: 8px;
      background: $btn;
      border-radius: 50%;
    }
  }
}
